uploads/*
!uploads/.gitkeep
vendor/
node_modules/
package-lock.json
yarn.lock
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
phpunit.xml
.env
logs/
cache/
*.sql
*.sql.gz
*.sql.zip
*.zip
*.tar
*.tar.gz
*.gz
backup/
backups/
db_backup/
database_backup/
